* {
    font-family: 'Times New Roman', Times, serif;
 
}


.card {
<<<<<<< HEAD:css/style.css
    margin-top: 100px;
}
=======
    width:max-content;
 
}
>>>>>>> 7930e5f53a19709b2c4645f2d063e6736db4ca89:css assets/Style.css
