* {
    font-family: 'Times New Roman', Times, serif;

}

body {
    background: #080808;
    ;
}

.card {
    margin-top: 200px;
    width: fit-content;

}

ul {
    display: flex;
    flex-direction: column;
}